.CardItem {
    width: 500px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: silver;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 25px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}


.ItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}