
.cartdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.linkdetalles{
    
    text-decoration: none;
    font-size: 17px;
    color: black;
    margin: auto;
    font-weight: 550;


    
   

}
.ItemListConteiner{
    background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16.5px );
-webkit-backdrop-filter: blur( 16.5px );
border-radius: 8px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    height: 520px;
    width: 1200px;
    margin-left: 80px;
    font-family: sans-serif;
    margin-top: 50px;
}
.titulo{

    margin-bottom: 50px;
    color: black;
  text-decoration: none;
  font-size: 1.1em;
  
  font-weight: 600;
  padding: auto;
  width: 20px;
  padding-left: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  
}
.tituloprod{
    font-family:sans-serif;
    font-weight: 50;

    
    margin-bottom: 30px;
}